# Keys
*.pem
.env

# Build Output Files
node_modules/
marketdata*
build/
dist/
sandbox/

# Strategies
src/server/Bot/Strategies
test/strategies

# Log Files
logs/
errorlogs/
*.log

# System Files
.DS_Store


# Editor Files
.vscode/





