/****************** Global ********************************/

html, body {

  /* structure */
  height: 100%;
  margin: 0;
  padding: 0;
}

/****************** Types **********************************/

button.navbar-item {
  background-color: rgba( 255, 255, 255, 0.0);
  border: none;
  color: rgb(250, 250, 250);
  transition: background-color 0.5s ease-in-out;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

button.navbar-item:hover {
  background-color: rgb(38, 66, 126);
  transition: none;
  color: white;
}


/******************* App Container ************************/

#app, .appContainer {

  /* structure */
  height: 100%;

  /* flex qualities */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/******************* NavBar ************************/

.navbar {
  /* aesthetics */
  background-color: rgb(53, 65, 172);
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 15px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;
  /* structure */
  height: 50px;

  /* flex qualities */ 
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  /* defaults of flex nowrap and flex row are great, no other changes needed!*/
}



.navbar-buttonContainer {
  /* aesthetics */
  
  /* structure */
  flex-basis: 25%;
  
  /* flex qualities */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media all and (max-width: 500px) {

  .navbar-buttonContainer {

    /* structure */
    flex-basis: 33%;
  }
}

.navbar-item {

   /* aesthetics */

  /* structure */
  padding: 8px;
}

#newTrader {

  /* aesthetics */
}

/******************* Footer ************************/

.footer {

  /* aesthetics */
  background-color: rgb(237, 237, 237);
  border-top: 1px solid rgba(230, 230, 230, 0.8);
  /* structure */

  height: 50px;

  /* flex qualities */
  display: flex;
  align-items: center;
}



/******************* View ************************/

.mainview {

  /* aesthetic */
  background-color: rgb(240, 240, 240);

  /* structure */
  height: 100%;
  padding: 20px;

  /* flex qualities */
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 1000px) {

  .mainview {
    flex-direction: column;
  }
}

.mainview > .statsContainer {

  /* aesthetic */
  border: 1px solid lightgray;
  background-color: rgb(254, 254, 254);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);


  /* structure */
  height: 100%;
  margin: 5px;
  flex-basis: 60%;

  /* flex qualities */
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1000px) {
  
  .mainview > .statsContainer {
    flex-basis: 35%;
  }
}

.mainview > .statsContainer > .accountBalance {
  
  /* aesthetic */
  border: 1px solid lightgray;
  background-color: rgb(254, 254, 254);

  /* structure */
  height: 100%;
  width: 200px;
  margin: 5px;
  flex-basis: 10%;
  padding: 5px;

  /* flex qualities */
  display: flex;
  flex-direction: column;
}

.mainview > .statsContainer > .accountBalance > .row {
  /* aesthetic */
  background-color: rgb(254, 254, 254);

  /* structure */
  height: 100%;

  /* flex qualities */
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

.mainview > .statsContainer > .accountBalance > .row > .label {
  
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.mainview > .statsContainer > .accountBalance > .row > .value {
  
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  height: 100%;
  vertical-align: middle;
}




/********************* Activity Feed **************************/

.mainview > .activityContainer {

  /* aesthetic */
  box-sizing: border-box;
  border: 1px solid lightgray;


  /* structure */
  height: 100%;
  margin: 5px;
  flex-basis: 40%;
  overflow-y: auto;


  /* flex qualities */
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1000px) {
  
  .mainview > .activityContainer {
    flex-basis: 65%;
  }
}

.activityContainer > .feedItem {

  /* aesthetic */
  border-bottom: 1px solid lightgray;
  background-color: rgb(254, 254, 254);
  box-sizing: border-box;


  /* structure */
  min-height: 80px;
  padding: 10px;

  /* flex qualities */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.activityContainer > .feedItem:last-child {

  /* aesthetic */
  border-bottom: none;
}

.activityContainer > .feedItem > h2 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  color: rgb(91, 90, 90);
}

.activityContainer > .feedItem > h3 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1.0rem;
  padding: 0;
  margin: 0;
  color: rgb(91, 90, 90);

}
